<head>
	<meta charset="utf-8">
</head>

<div id="page-wrapper" ng-show="ctrl.x.permissao.id != 1">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Consultar Funcionários</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">					
				<div class="panel-body">
					<div class="row">
						<form name="pesquisarConvenioForm" role="form">
							<div class="col-lg-8">
								<div class=" input-group">
									<div class="input-group-addon"><i class="fa fa-search"></i></div>							
									<input class="form-control" id="pesquisarNome" type="text" ng-model="ctrl.pesquisaNome.nomeCompleto" 
										placeholder="Pesquisar">								
								</div>							
	                    	</div>                
	                    	<div class="col-lg-4">                    		
								<select name="tipoPesquisa" class="form-control"
									ng-init="ctrl.pesquisa.tipoPesquisa='1'" 
									ng-model="ctrl.pesquisa.tipoPesquisa"
									ng-change="ctrl.carregarConvenios()">																											
									<option value="1">Ativos</option>
									<option value="2">Inativos</option>
									<option value="3">Todos</option>
								</select>							
	                    	</div>
	                   	</form>	                    	
	            	</div>
	            	<hr />
	                <div class="row">	                 	
	                 	<table ng-table="ctrl.tableParams" class="table table-condensed table-bordered table-striped">
	                 		<caption style="text-align: center;">Lista de Funcionários</caption>							
    						<tr ng-repeat="funcionario in $data | filter:ctrl.pesquisaNome">
        						<td data-title="'Nome'">{{funcionario.nomeCompleto}}</td>
					            <td data-title="'Usuario'">{{funcionario.login}}</td>					       		
					            <td data-title="'CPF'">{{funcionario.cpf_cnpj}}</td>					            
					            <td data-title="'E-mail'">{{funcionario.email}}</td>
					            <td data-title="'CEP'" class="text-center">{{funcionario.cep}}</td>
					            <td data-title="'Ações'" class="text-center">					            							            
						            <a class="btn btn-warning btn-xs" ng-click="ctrl.editarFuncionario(funcionario)" title="Editar Funcionário"><i class="fa fa-pencil fa-fw"></i></a>					                        
						            <a class="btn btn-danger btn-xs" ng-click="ctrl.excluirFuncionarios(funcionario)" title="Excluir Funcionário"><i class="fa fa-times fa-fw"></i></a> 					                        						                        
					            </td>					                    		
    						</tr>
    					</table>						                              		                                
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>		