<head>
<meta charset="UTF-8" />
</head>
<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Orçamento</h3>
</div>

<div class="modal-body" id="modal-body">
	<form name="orcamentoForm">
		<div class="form-group">
			<div class="col-md12">
				<label for="selClientes">Nome do Paciente:</label>
			</div>
			<div clas="col-md12">
				<ui-select ng-model="ctrl.orcamento.cliente" ng-required="true"
					theme="bootstrap" style="width: 450px;"> <ui-select-match
					placeholder="Selecione um Paciente">{{ctrl.orcamento.cliente.nomeCompleto}}</ui-select-match>
				<ui-select-choices
					repeat="cliente in ctrl.comboClientes | filter: $select.search">
				<span
					ng-bind-html="cliente.nomeCompleto | highlight: $select.search"></span>
				</ui-select-choices> </ui-select>
			</div>
			<div class="form-group">
				<div class="col-md12">
					<label ng-show="ctrl.x.permissao.id != 1" for="selFuncionarios">Dentista:</label>
				</div>
				<div clas="col-md12" ng-show="ctrl.x.permissao.id != 1">
					<ui-select ng-model="ctrl.orcamento.funcionario"
						theme="bootstrap" style="width: 450px;"> <ui-select-match
						placeholder="Selecione um Dentista">{{ctrl.orcamento.funcionario.nomeCompleto}}</ui-select-match>
					<ui-select-choices
						repeat="funcionario in ctrl.comboFuncionarios | filter: $select.search">
					<span
						ng-bind-html="funcionario.nomeCompleto | highlight: $select.search"></span>
					</ui-select-choices> </ui-select>
				</div>
			</div>
			
			<div class="col-md2">
					<label>Valor</label>
				</div>
				<div class="col-md2">
					<input id="valor" maxlength="7" class="form-control" ng-model="ctrl.orcamento.valor" 
						ng-pattern="/^\$?[\d]+(\,\d{1,2})?$/"
						formatted-valor>
				</div>
			</div>


			<div class="form-group">
				<div class="col-md12">
					<label for="titulo">Título: </label>
				</div>
				<div class="col-md12">
					<textarea id="titulo" class="form-control"
						ng-model="ctrl.orcamento.titulo"></textarea>
				</div>
				<div class="col-md12">
					<label for="procedimento">Procedimento: </label>
				</div>
				<div class="col-md12">
					<textarea id="procedimento" class="form-control"
						ng-model="ctrl.orcamento.procedimento"></textarea>
				</div>
				<div class="form-group" ng-if="ctrl.editable(ctrl.agendamento.start)">
				
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<div class="form-group">
		<button id="btnSalvar" type="button" class="btn btn-success"
			ng-disabled="orcamentoForm.$invalid" style="width: 100px;"
			ng-click="ctrl.salvar(ctrl.orcamento)">Salvar</button>
		<button id="btnCancel" type="button" class="btn btn-default"
			ng-click="ctrl.cancel()" style="width: 100px;">Cancelar</button>
	</div>
</div>