<head>
<meta charset="utf-8">
</head>

<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Orçamentos</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<form name="frmOrcamento" role="form">
							<div class="col-lg-8">
								<div class=" input-group">
									<div class="input-group-addon">
										<i class="fa fa-search"></i>
									</div>
									<input class="form-control" id="pesquisarNome" type="text"
										ng-model="ctrl.pesquisaNome.nomeCompleto"
										placeholder="Pesquisar">
								</div>
							</div>
							<div class="col-lg-4">
								<button type="button" class="btn bg-purple btn-flat margin"
									ng-click="ctrl.openEventModal(orcamento)">Cadastrar
									Orçamento</button>
							</div>
						</form>
					</div>
					<hr />
					<div class="row">
						<table ng-table="ctrl.tableParams"
							class="table table-condensed table-bordered table-striped">
							<caption style="text-align: center;">Lista de
								Orçamentos</caption>
							<tr ng-repeat="orcamento in $data | filter:ctrl.pesquisaNome">
								<td data-title="'ID'">{{orcamento.idOrcamento}}</td>
								<td data-title="'Paciente'">{{orcamento.cliente.nomeCompleto}}</td>
								<td data-title="'Dentista'">{{orcamento.funcionario.nomeCompleto}}</td>
								<td data-title="'Ações'" class="text-center"><a
									class="btn btn-warning btn-xs"
									ng-click="ctrl.imprimirRelatorioOrcamentos(orcamento)"
									title="Imprimir Orcamento"><i class="fa fa-print fa-fw"></i></a>
									<a class="btn btn-danger btn-xs"
									ng-click="ctrl.excluirOrcamento(orcamento)"
									title="Excluir Orcamento"><i class="fa fa-times fa-fw"></i></a>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
