<head>
	<meta charset="utf-8">
</head>
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Receitas</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">					
				<div class="panel-body">
					<div class="row">
						<div class="col-md-2">
							<h4>Período:</h4> 
						</div>
						<div class="col-md-4">
							<md-datepicker ng-change="ctrl.searchDisabled = false;" ng-model="ctrl.dtInicio" md-placeholder="Informe a data"></md-datepicker>
						</div>
						<div class="col-md-4"> 
							<md-datepicker ng-change="ctrl.searchDisabled = false;" ng-model="ctrl.dtFim" md-placeholder="Informe a data" md-min-date="ctrl.dtInicio"></md-datepicker>
						</div>
						<div class="col-md-2"> 
							<button type="button" ng-disabled="ctrl.searchDisabled" 
								ng-click="ctrl.pesquisarReceitasPeriodo(ctrl.dtInicio, ctrl.dtFim)" 
								class="btn btn-primary btn-block">Pesquisar</button>
						</div>
					</div>
					<br />
					<div class="row">																	
						<div class="col-md-8">
							<h4>Total de valores pagos em consultas no período: </h4>
						</div>
						<div class="col-md-4" style="text-align: right; color: #00B768; font-weight: bold;">
							<h4>{{ctrl.totalConsultasPeriodo | monetarioFormat}}</h4>
						</div>												
					</div>
					
                 	<div id="list" class="row">                 		 
						<table ng-table="ctrl.tableReceitasParams" class="table table-condensed table-bordered table-striped">
							<caption style="text-align: center;">Receitas no período</caption>							
    						<tr ng-repeat="agendamento in $data">
        						<td data-title="'Paciente'">{{agendamento.paciente.nomeExibicao}}</td>
        						<td data-title="'Convenio'" class="text-center">{{agendamento.convenio.nome}}</td>
					            <td data-title="'Dt Consulta'" class="text-center">{{agendamento.consulta.inicio | date: 'dd/MM/yyyy'}}</td>
					            <td data-title="'Hora Consulta'" class="text-center">{{agendamento.consulta.inicio | date: 'HH:mm'}}</td>
					       		<td data-title="'Valor'" class="text-center">{{agendamento.consulta.valor | monetarioFormat}}</td>
					       		<td data-title="'Recibo Entregue'" class="text-center">{{agendamento.consulta.recibo | booleanFormat}}</td>					            					            					            					                    	
					            <td data-title="'Ações'" class="text-center">
					            	<a class="btn btn-warning btn-xs" ng-click="ctrl.editarConsulta(agendamento)" title="Editar Consulta"><i class="fa fa-pencil fa-fw"></i></a>					            	
					            </td>
    						</tr>    						    						    						    					
						</table>
					 </div> <!-- /#list -->
					 
					 <div class="form-group">
  					<button id="btnImprimir" name="btnImprimir" type="button" style="float: right;"
	  						ng-disabled="ctrl.totalConsultasPeriodo == 0"
	  						ng-click="ctrl.imprimirRelatorioReceitas(ctrl.dtInicio, ctrl.dtFim)"	  						
	  						class="btn btn-primary">
	  						Imprimir receitas do período</button>   						
	 				</div>                      		                                 																			                             		                                 																																	
				</div>
			</div>
		</div>
	</div>
</div>									